
body{
    margin:0;
    background-color:#2B292C !important;
    font-family: 'Raleway', sans-serif;
}

.pokemon-container{
    background-color:#2B292C;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: white;   
}

.pokemon-name{
    text-align: center;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.info-top-container{
    background-color:rgb(216, 216, 216);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-image {
    width: 250px;
    height: 250px;
}

.arrow-back-to-all{
    position: absolute;
    top:0;
    left:0;
    width: 50px;
    margin: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 13px;
}

.arrow-back-to-all:hover{
    background-color: #61616110;
}

.pokemon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pkm-type-container{
    background-color: rgba(148, 144, 144, 0.141);
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    min-width: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 0px;
}

.second-pkm-type-container{
    background-color: rgba(148, 144, 144, 0.141);
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    min-width: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    height: 33px;
}

.type-onclicked-pkm-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skir{
    display: flex;
}

.pkm-weight-height-container{
    	display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5px;
}

.pkm-weight-height{
    color: rgba(211, 211, 211, 0.746);
    margin-left: 50px;
    margin-right: 50px;
}

.pkm-weight-height h2{
    color:white;
}

.base-stats-container{
    margin-right: 3%;
}

.base-stat{
 display: flex ;
 align-items: center;
 justify-content: center;
}

.stats-font{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.progress{
    width: 15rem;
    margin-left: 20px;
    border-radius: 1rem !important;
}

.bg-stats-spd{
    background-color: rgba(79, 140, 166, 0.701) !important;
}

h2{
    text-align: center;
}

.pokemon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pokemon{
    background-color: #F2F2F2;
    width: 250px;
    height: 250px;
    margin: 0px 15px 120px 0px;
    border-radius: 10px;
}

.pokemon-short-info{
    margin: 0px 30px 0px 30px;
}

.all-pokemon-image{
    width: 100%;
    height: 100%;
}

.pokemon-number{
    font-size: 9;
    color:#616161bd;
}

.pokemon-names{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-size:20px;
}

.pokemon-types{
    display: flex;
    align-items:flex-start;   
}

.show-all-pkm{    
    background-color: white;
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;
    margin: 0px 100px 0px 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.pokedex-head{
    text-align: center;
    color: white;
    height:100px;
    background-color: #1f1f1f;
}

.pokedex-head h1{
    font-size: 80px;
}

.first-grey-bar{
    height: 50px;
    background-color: #616161;
    margin: 0px 100px 0px 100px;
}

.second-grey-bar-container{
    height: 20px;
    background-color: white;
    margin: 0px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey-bar-font{
    height: 100%;
    background-color: #616161;
    width: 300px;
    border-bottom-left-radius: 35em 18em;
    border-bottom-right-radius: 35em 18em;
    text-align: center;
    color: white;
    line-height: 15px;
}

.grass{
    background-color:#9BCC50;
}

.poison{
    background-color: rgba(173, 86, 173, 0.664);
}

.flying{
    background-color: rgba(140, 190, 241, 0.576);
}  

.fire{
    background-color: rgb(243, 109, 109);
}

.water{
    background-color: rgb(134, 159, 230);
}

.bug{
    background-color: rgba(171, 224, 11, 0.62);
}
.normal{
    background-color: rgba(253, 225, 255, 0.549);
}

.electric{
    background-color: rgb(255, 252, 101);
}

.ground{
    background-color: rgb(218, 186, 104);
}
.fairy{
    background-color: rgb(255, 131, 230);
}

.ghost{
    background-color: #61616189;
}

.rock{
    background-color: burlywood;
}

.steel{
    background-color: rgb(182, 175, 175);
}

.ice{
    background-color: rgba(120, 227, 239, 0.659);
}

.fighting{
    background-color: rgba(144, 0, 0, 0.685);
}

.psychic{
    background-color: pink;
}

@media screen and (max-width: 1300px) {

    .show-all-pkm{
        margin:0;
    }
    .first-grey-bar{
        margin: 0;
    }
    .second-grey-bar-container{
        margin: 0%;
    }
  }

  